{% load static %}
<html>
    <head>
        <title>My First Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--링크 태그는 링크로 들어가서 코드를 가져오는 것-->
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--script는 html에서 자바 스크립트 코드 쓸 때 사용-->
        
        
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
        
        <style>
            body {
                background-color : #343334;
            }
        </style>
        
    </head>
    <body>
    
    <!--nav bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">My First Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
                
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item activate">
                <a class="nav-link" href="/post/write">Write </a>
              </li>
              {% endif %}
            </ul>
          </div>    

            
<!--로그인 되어 있을 때는 Log out 버튼을, 안 되어 있을 때는 Log in 버튼을 띄우기-->
  {% if user.is_authenticated %}
  
        <div id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                <div class="nav-link">
                  Hello, {{user.username}} 
                </div>
              </li>
              <li>
                <a class="nav-link" href="/user/logout">Log Out </a>
              </li>
              </ul>
             
        </div>

            
  {% else %}  
          <div id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/user/login">Log In </a>
                </li>
            
                  <li class="nav-item active">
                    <a class="nav-link" href="/user/signup">Sign Up </a>
              </li>
            </ul>
          </div>
      

 {% endif %}
           
        </nav>
        <div class="app-container">
            <!--이 부분만 바뀔꺼다-->
            {% block body %}
            {% endblock %}
            <!--이 부분만  바뀔꺼다-->
        </div>
        
        <script>
        window.addEventListener("keydown", control_down); //event가 생길 때에만 함수가 호출되게끔
        window.addEventListener("keyup", control_up); //control_up는 우리가 등록할 함수 
        
        const shortcuts = {} ;
            
        function control_down(event) {
            if (event.key === "Control") {
                window.addEventListener("keydown", key_down);
                
            }
        }
        
        function control_up(event) {
            if (event.key === "Control") {
                window.removeEventListener("keydown", key_down);
            }
        }
        
        function key_down(event) {
            //shortcuts에 event.key가 있으면 if 문이 실행이 됨
            if (shortcuts[event.key]) {
                event.preventDefault();
                shortcuts[event.key](event);
            }

        }
    </script>
        {% block script %}
        {% endblock %}
    </body>
</html>